    div {
    background-color: wheat;
    } 
h2, h3 {
    color: rgb(240, 21, 148);
    text-align: center;
    font-family:'Times New Roman', Times, serif
}
p {
    color:rgb(34, 56, 255);
    /* margin: 5% auto;
    width: 80% */
}
div {
    border: solid 2px rebeccapurple;
    margin: 5% auto;
    width: 80%;
    padding-left: 20px
}
@media only screen and (min-width: 800px) {
     div {
        background-color: lightgreen;
   
        } 
    .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap:1em;
    padding: 1em;
    margin: 2% auto;
    width: 2% auto;
    border: rebeccapurple
    }
    

} 